body {
    margin: 8px;
    display: block;
    background-color: lightgoldenrodyellow;
}
#mainHeading {
    color: red;
    text-align: center;
    display: block;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 80px;
    font-family:'Times New Roman', Times, serif
}

#testP {
    font-style: italic;
    display: block;
    margin-bottom: 3%;
    text-align: center;
    
}
ul {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
#imageOne {
    text-align: right;
}
p {
    margin: 8px;
    display: block;
    font-size: 30px;
}

h2 {
    margin: 10px;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 {
    margin: 15px;
    margin-top: 20px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
figure {
    display: block;
    text-align: center;
}
#bonAppetit {
    text-align: center;
}

.funParagraph {
   color: green;
   display: block;
    
}
footer {
    font-size: 10px;
}


